*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #f5cc75;

}

.main-container{
    background-color: rgb(56, 1, 1);
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    

}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kalnia', serif;
    font-size: 2rem;
    /* background-color: antiquewhite; */
    height: 300px;
}
.relampago1{
    /* background-color: pink; */
    width: fit-content;
    height: fit-content;
}
.text1{
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
}
.texts{
    display: flex;
    gap: 15px;
    flex-direction: column;
    /* background-color: darkcyan; */
    font-family: 'Trirong', serif;
    font-weight: 400;
    font-size: 1.5rem;
}
.video{
    /* background-color: tomato; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.final-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kalnia', serif;
    font-size: 2rem;
    /* background-color: antiquewhite; */
    height: 300px;
}

@media (max-width:1400px) {
    .text1{
        flex-direction: column;
    }
}
@media (max-width:768px){
    .relampago1{
      width: 350px;
    height: fit-content;
    }
    .final-txt{
        background-color: pink;
        font-size: 2rem;
        width: 100px;

    }
}